<div class="row d-flex justify-content-center">
    {{# each products}}
        <div class="card col-md-3">
            <img class="card-img-top"
                 src="{{ this.imagePath }}"
                 alt="Card image cap"
            >
            <div class="card-body">
                <h5 class="card-title">
                    {{ this.title }}
                </h5>
                <p class="card-text text-secondary">
                    {{ this.description }}
                </p>
                <div class="price pull-left">
                    ${{ this.price }}
                </div>
                <a href="#" class="btn btn-success pull-right">Add to cart</a>
            </div>
        </div>
    {{/each}}
</div>
