<div class="row">
    <div class="card col-md-4" style="width: 18rem;">
        <img class="card-img-top"
             src="images/1.jpg"
             alt="Card image cap"
        >
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk
                of
                the card's
                content.</p>
            <div class="price pull-left">
                875$
            </div>
            <a href="#" class="btn btn-success pull-right">Add to cart</a>
        </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
        <img class="card-img-top"
             src="images/1.jpg"
             alt="Card image cap"
        >
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk
                of
                the card's
                content.</p>
            <div class="price pull-left">
                875$
            </div>
            <a href="#" class="btn btn-success pull-right">Add to cart</a>
        </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
        <img class="card-img-top"
             src="images/1.jpg"
             alt="Card image cap"
        >
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk
                of
                the card's
                content.</p>
            <div class="price pull-left">
                875$
            </div>
            <a href="#" class="btn btn-success pull-right">Add to cart</a>
        </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
        <img class="card-img-top"
             src="images/1.jpg"
             alt="Card image cap"
        >
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk
                of
                the card's
                content.</p>
            <div class="price pull-left">
                875$
            </div>
            <a href="#" class="btn btn-success pull-right">Add to cart</a>
        </div>
    </div>
</div>
